<%-include("partials/header")-%>

    <div class="container basic-margin shadow-lg px-2 py-2 ">
        <div class="card shopping-cart px-1 py-1">
            <div class="card-header bg-dark text-light ">
              <div class="row">
                <div class="col-md-6 pr-auto">
                  <i class="fa fa-shopping-cart my-2 float-left mr-1" aria-hidden="true"></i>
                  <p class="float left">Shipping cart
                  </p>
                </div>
                <div class="col-md-6 pl-5 ">
                  <a href="/books" class="btn btn-outline-info btn-xs pull-right float-right " >Continue shopping</a>
                </div>
              </div>


                <div class="clearfix"></div>
            </div>

            <div class="card-body">
              <%if(!products){%>
                <h5>Nothing in the cart </h5>
              <%}%>




              <%if(products){%>
                <!-- PRODUCT -->
                <%products.forEach(function(product){%>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive rounded-lg border-primary shadow" src="/uploads/<%=product.item.bookImage || product.item.courseImage%>" alt="prewiew" width="120"
                                height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong><%=product.item.BookName||product.item.courseName%></strong></h4>
                            <p><%=product.item.something||product.item.description%> </p>
                            <h6>QTY: <%=product.quantity%></h6>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>Rs. <%=product.item.discountedPrice%><span class="text-muted"></span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">

                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right pl-0">
                                <a href="/remove/<%=product.item._id %>"><button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- END PRODUCT -->
                <!-- PRODUCT -->
<%});%>

                <!-- END PRODUCT -->

            </div>
            <div class="card-footer">

                <div class="" style="margin: 10px">
                    <div class="row">

                        <div class="checkout col-6 float-left">
                            <a href="/checkout" class="btn btn-success float-left">Checkout</a>
                        </div>
                        <div class="float-right col-6" style="">
                          <h5 class="float-right">Total price:<b>Rs <%=totalPrice%> </b></h5>
                        </div>

                    </div>
  <%  }%>
                </div>
            </div>

        </div>
    </div>

<%-include("partials/footer")-%>
