<%- include("partials/header") -%>
<div class="row justify-content-center basic-margin">
  <div class="col-md-12">
    <div class = " ">

        <div class="wrapper mx-auto">
            <div class="left">
                <img src="my image.jpg" alt="user" width="250" height="250" class="rounded-circle">
                <h4><%=detail.name%></h4>
<ul class="list-unstyled">
  <li>
      <button type="button" class="btn btn-success">Edit</button>
  </li>
  <br>
  <li>
      <button type="button" class="btn btn-danger ">Help</button>
  </li>
</ul>


            </div>

            <div class="right">
                <div class="info">
                    <h3>Information
                      <%if(detail){%>
                      <%=detail%>
                    <%}%>
                  </h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p><%=detail.email%></p>
                        </div>
                        <div class="data">
                            <h4>Phone</h4>
                            <p><%=detail.phonenumber%></p>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>Details</h3>
                    <div class="projects_data">
                        <div class="data">
                            <h4>BUY</h4>
                            <p>10 books and 3 courses</p>
                        </div>
                        <div class="data">
                            <h4>SELL</h4>
                            <p>2 books and 3 courses </p>
                        </div>
                    </div>
                </div>

                <div class="social_media">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
  </div>
</div>


<%- include("partials/footer") -%>
