<%- include("partials/header") -%>
<div class="row justify-content-center basic-margin">
  <div class="col-md-12">
    <div class = " ">

        <div class="wrapper mx-auto row">
            <div class="left col-12 col-md-5 ">

               <button type="button" name="button" class="btn btn-lg rounded-circle py-4 px-5" id="mainButton"><h1 class="display-1 text-light" style="font-size:60px"><strong><%=upperLetter%></strong></h1></button>
                <!-- <img src="my image.jpg" alt="user" width="250" height="250" class="rounded-circle"> -->
                <h4 class="my-5"><%=detail.name%></h4>
<ul class="list-unstyled mt-5">

  <br>
  <li>
    <a href="/safety"> <button type="button" class="btn btn-primary mt-5 ">Help</button></a>
  </li>
</ul>


            </div>

            <div class="right col-12 col-md-5">
                <div class="info">
                    <h3>Information

                  </h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p><%=detail.email%></p>
                        </div>
                        <div class="data">
                            <h4>Phone</h4>
                            <p><%=detail.phonenumber%></p>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>USEFULL LINK</h3>
                    <div class="projects_data row container-fluid">
                        <div class="data col-md-6 col-12">
                            <a href="/books" ><h6 class="my-md-3"  >BUY BOOK</h6></a>
                            <a href="/courses" ><h6 class="my-md-5">BUY COURSES</h6></a>
                        </div>
                        <div class="data col-md-6 col-12 mt-5 mb-3 mt-md-0 mb-md-0">
                          <a href="/upload-book"><h6 class="my-md-3">SELL BOOK</h6></a>
                            <a href="/upload"><h6 class="my-md-5">SELL COURSES</h6></a>
                        </div>
                    </div>
                </div>

                <div class="social_media">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  var randomColor = Math.floor(Math.random()*16777215).toString(16);
document.getElementById("mainButton").style.backgroundColor = '#' + randomColor;
</script>
<%- include("partials/footer") -%>
